<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleVersion</key>
	<string>1.0.1</string>
	<key>CFBundleVersionShort</key>
	<string>1</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>CoffeeSnob needs access to your location to provide certain features.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>CoffeeSnob needs access to your location while you are using it.</string>
	<key>UIAppFonts</key>
	<array>
		<string>Inter-Bold.ttf</string>
	</array>
</dict>
</plist>
